
nav{
    display: flex;
    background-color: rgb(127, 153, 10);
    padding-left: 4%;
    padding-right: 4%;
    min-height: 75px;
}

nav div {
  margin-top: auto;
  margin-bottom: auto;
}

nav div a img {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
}

nav div a {
  display: inline-block;
  text-decoration:none;
  max-height: 50px;
  max-width: 200px;
}

nav div a h4{
  display: inline-block;
  color: black;
  text-decoration:none;
  font-size:1.3em;
  margin-top: auto;
  margin-bottom: auto;
}


nav ul {
    justify-content: space-between;
    list-style: none;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
}

nav ul li {
  padding-left: 30px;
  padding-right: 30px;
}


nav ul a{
    color: white;
    text-decoration:none;
    font-size:1.3em;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
  }

nav ul a:hover{
    border-bottom:3px solid white;
    border-radius: 4px;
  }
