nav{
    display: inline-block;
    width: 100%;
    background-color:black;
}
nav ul {
    display: flex;
    justify-content: space-around;
}

#links a{
    color: white;
    text-decoration:none;
    padding:12px;
    border-radius:5px;
    font-size:1.3em;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
  }

  #links a:hover{

    border-bottom:5px solid white;
  }